html {
  font-size: 62.5%;
}

body {
  margin: 0em;
  display: grid;
  grid-template-areas: "h" "a" "n" "c";
  background-color: #05386B;
}

body {
  font-family: "Roboto", sans-serif;
  color: #252525;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.7;
  text-align: left;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

.Nav__link {
  font-size: 1.8rem;
  padding: 0.7em 3em 0.68em 3em;
  text-decoration: none;
  color: #8EE4AF;
  opacity: 1;
  transition: transform 450ms ease-out, background-color 300ms ease-out, color 300ms ease-out;
  transform-origin: bottom center;
}
.Nav__link:hover {
  transform: scale(1.1);
  background-color: #5CDB95;
  color: #05386B;
}
.Nav__link--active {
  color: rgba(5, 56, 107, 0);
}
.Nav__link--active:hover {
  cursor: default;
  transform: scale(1);
  background-color: rgba(5, 56, 107, 0);
  color: rgba(5, 56, 107, 0);
}

.homeheader {
  grid-area: h;
  height: auto-fit;
  display: flex;
  background-color: #5CDB95;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.homeheader_PhotoContainer {
  min-width: 20em;
  max-width: 50em;
  animation: home-picture 4000ms backwards ease-in-out alternate;
  animation-iteration-count: 2;
  animation-delay: 5000ms;
}
.homeheader_PhotoContainer:hover {
  animation-play-state: paused;
}
.homeheader_PhotoContainer__picture {
  width: 275px;
  height: 275px;
}
.homeheader_Intro {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 2.5em;
  line-height: 0em;
  letter-spacing: -0.05em;
  word-spacing: 0em;
  font-weight: 600;
  text-transform: lowercase;
  text-justify: center;
  color: #05386B;
}
.homeheader_Intro__secondname {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: -0.1em;
  text-transform: lowercase;
  color: #EDF5E1;
}
.homeheader_Intro__JobDescription {
  color: #3c4751;
  font-weight: 600;
  line-height: 0em;
  padding: 0.3em 0em 1em 0.5em;
}

@keyframes home-picture {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1) rotate(360deg);
  }
}
.header {
  grid-area: h;
  height: auto-fit;
  display: flex;
  background-color: #5CDB95;
  flex-direction: row;
  align-items: left;
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.header_Intro {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 1.75em;
  line-height: 0em;
  letter-spacing: -0.05em;
  word-spacing: 0em;
  font-weight: 600;
  text-transform: lowercase;
  color: #05386B;
  padding: 0.5em 0em 1em 4em;
}
.header_Intro__secondname {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: -0.1em;
  text-transform: lowercase;
  color: #EDF5E1;
}
.header_Intro__JobDescription {
  color: #3c4751;
  font-weight: 600;
  line-height: 0em;
  padding: 0.3em 1em 0em 3em;
}

.About {
  grid-area: a;
  background-color: #5CDB95;
  height: auto-fit;
}
.About_Sidenotes__Text {
  font-size: 1.7em;
  text-align: center;
  color: #3c4751;
  padding: 0em 5em 0.2em 5em;
}
.About_Tittle {
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #252525;
  margin-top: 0.5em;
}
.About_hobbies__icons {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 0.8em;
  color: #3c4751;
}

.homeicons {
  padding: 0em 2em 0em 2em;
}
.homeicons:hover {
  animation: move-homeicon 2000ms both;
}

@keyframes move-homeicon {
  0% {
    transform: Scale(1);
  }
  100% {
    transform: Scale(2) rotate(720deg);
  }
}
.Navegation_Education {
  background-image: url("../images/education.jpg");
  grid-area: n;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0em 1em 2em rgba(0, 0, 0, 0.4);
}

.Navegation_Experience {
  background-image: url("../images/experience.jpg");
  grid-area: n;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0em 1em 2em rgba(0, 0, 0, 0.4);
}

.Navegation_Otherskills {
  background-image: url("../images/otherskills.jpg");
  grid-area: n;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0em 1em 2em rgba(0, 0, 0, 0.4);
}

.Navegation_Contacts {
  background-image: url("../images/contacts.jpg");
  grid-area: n;
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 0em 1em 2em rgba(0, 0, 0, 0.4);
}

.HomeNav {
  font-size: 0.5em;
  background-color: #05386B;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 8.8em;
  margin: 0px;
  padding-bottom: 1em;
}

#drawer-toggle {
  position: relative;
  opacity: 0.8;
  margin: 0px;
  height: 0px;
  line-height: 0;
}

#drawer-toggle-label {
  position: relative;
  margin: 0px;
  height: 10px;
  line-height: 0;
}

.box ul {
  font-size: 0.5em;
  background-color: rgba(5, 56, 107, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 9em;
  margin: 0px;
}

.Page_Tittle {
  padding: 0.7em;
  border: 0.1em solid #EDF5E1;
  max-width: 10em;
  justify-items: center;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  animation: move-title 2000ms both;
  color: #EDF5E1;
  text-shadow: 0.1em 0.1em 0.05em #05386B;
  box-shadow: 0.1em 0.1em 0.05em #05386B;
  border-radius: 0.2em;
}

@keyframes move-title {
  0% {
    transform: translate(60%, 20%) Scale(1);
    opacity: 0;
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: translate(60%, 20%) Scale(1.1);
  }
}
.container {
  background-color: #EDF5E1;
  grid-area: c;
  padding: 0 1.5rem 1.5rem 1.5rem;
}
.container_subtittle {
  text-transform: uppercase;
  padding: 1em 0em 0.2em 3em;
  animation: move-subtitle 2000ms 500ms both;
  width: 14em;
}
.container_byline {
  display: flex;
  flex-direction: row;
  color: #3c4751;
  list-style-type: none;
  font-size: 1.5em;
  padding: 1.2em 0em 2em 4em;
}
.container_byline__TimePlace {
  min-width: 120px;
  max-width: 120px;
  font-weight: 600;
  display: list-item;
  list-style-type: circle;
  flex-basis: 1em;
  padding: 1.2em 0em 0em 2em;
}
.container_byline__Content {
  flex-basis: 1fr;
  min-width: 200px;
  text-align: justify;
}
.container_byline__Entities {
  text-transform: uppercase;
  font-weight: 100;
  margin-left: 0.5em;
}
.container_byline__PositionTitle {
  font-size: 0.8em;
  padding-left: 2em;
}
.container_line {
  font-size: 1.5em;
  padding: 0.5em 0em 0.5em 2em;
}
.container_contacts {
  font-size: 1.5em;
  margin-top: 2em;
  margin-left: 9em;
}
.container_contacts__Tittle {
  font-weight: 600;
}
.container_contacts__Text {
  font-size: 0.9em;
  padding-left: 0.5em;
}
.container_RefSubTittle {
  text-transform: uppercase;
  padding: 0em 0em 0.2em 3em;
  animation: move-subtitle 2000ms 500ms both;
  max-width: 7em;
}
.container_References {
  font-size: 1.4em;
}
.container_References_Personas {
  margin-left: 3em;
  max-width: 50em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container_References_Personas__person {
  border-bottom: 0.05em solid #3c4751;
}

@keyframes move-subtitle {
  0% {
    transform: translateX(-40%) Scale(1);
    opacity: 0;
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%) Scale(1.4);
  }
}
.icons {
  animation: move-icon 2000ms 1000ms both;
}

@keyframes move-icon {
  0% {
    transform: translate(-50px, 40px) Scale(1);
    opacity: 0;
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: translate(130px, 30px) Scale(2) rotate(720deg);
  }
}
@media all and (max-device-width: 480px) {
  html {
    font-size: 100%;
  }

  .body {
    flex-direction: row;
  }

  .homeheader_Intro__firstname {
    font-size: 3.5em;
  }
  .homeheader_Intro__secondname {
    letter-spacing: 0em;
  }
  .homeheader_Intro__JobDescription {
    font-size: -2em;
    text-align: center;
  }
  .homeheader_PhotoContainer__picture {
    width: 500px;
    height: 500px;
  }

  .homeicons {
    padding: 1em 2em 2em 2em;
  }

  .header_Intro {
    padding: 0.5em 0em 1em 2em;
  }
  .header_Intro__secondname {
    letter-spacing: 0em;
  }

  .About_Sidenotes__Text {
    width: auto;
    padding: 0em 2em 0em 2em;
    font-size: 2em;
  }
  .About_Tittle {
    padding-top: 3em;
  }

  .container {
    padding-bottom: 3em;
  }
  .container_subtittle {
    font-size: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .container_RefSubTittle {
    font-size: 2em;
    padding-top: 0.7em;
    padding-bottom: 1em;
  }
  .container_byline {
    flex-direction: column;
    padding: 1.2em 0em 0em 1em;
  }
  .container_byline__TimePlace {
    max-width: 35em;
    max-height: 5em;
    padding: 1.2em 1em 2em 0em;
  }
  .container_byline__PositionTitle {
    padding-left: 1em;
  }
  .container_line {
    padding: 0.5em 0em 0.5em 1em;
  }
  .container_contacts {
    margin-left: 4em;
  }
  .container_References_Personas {
    padding-bottom: 1em;
    margin-left: 14em;
    width: 300px;
  }
  .container_References_Personas__person {
    min-width: 350px;
  }

  @keyframes move-subtitle {
    0% {
      transform: translateX(-40%) Scale(1);
      opacity: 0;
    }
    85%, 100% {
      opacity: 1;
    }
    100% {
      transform: translateX(50%) Scale(1.4);
    }
  }
  .icons {
    font-size: 2.5em;
  }

  @keyframes move-icon {
    0% {
      transform: translate(-50px, 120px) Scale(1);
      opacity: 0;
    }
    85%, 100% {
      opacity: 1;
    }
    100% {
      transform: translate(130px, 120px) Scale(2) rotate(720deg);
    }
  }
  .Page_Tittle {
    float: left;
    font-size: 3em;
    padding: 0.4em;
    margin-left: 5.5em;
    margin-top: 2em;
  }

  @keyframes move-title {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    85%, 100% {
      opacity: 1;
    }
    100% {
      transform: scale(1.1);
    }
  }
  .HomeNav {
    flex-direction: column;
    height: 45em;
  }

  #drawer-toggle {
    position: relative;
    opacity: 0.8;
  }
  #drawer-toggle-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
    top: -27px;
    left: 0px;
    height: 36px;
    width: 50px;
    display: block;
    position: relative;
    z-index: 1;
    /* adds our "hamburger" menu icon */
  }
  #drawer-toggle-label:before {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    width: 34px;
    top: -15px;
    left: 0px;
    box-shadow: 0 5px 0 #05386B, 0 14px 0 #05386B, 0 24px 0 #05386B;
  }

  /* drawer menu pane - note the 0px width */
  .box {
    position: relative;
    float: right;
    left: 50px;
    top: -800px;
    height: 350px;
    width: 10px;
    background: rgba(5, 56, 107, 0.7);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
  }

  #drawer {
    /* checked styles (menu open state) */
  }
  #drawer-toggle:checked ~ #drawer-toggle-label {
    left: -260px;
    height: 36px;
    width: 24px;
  }
  #drawer-toggle:checked ~ .box {
    left: 25px;
    top: 0px;
    width: 190px;
  }

  .box ul {
    list-style-type: none;
    font-size: 0.5em;
    display: contents;
  }
  .box a {
    display: block;
    padding: 10px;
    color: #5CDB95;
    text-decoration: none;
  }
}

/*# sourceMappingURL=style.css.map */
